* {
    margin: 0;
    padding: 0;
}

.board {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(79, 132, 157);
}

.board-container {
    height: 600px;
    width: 600px;
}

.square {
    /*
     * 100% of the width/height divided into 8 for the 8 row or colum
     * => 100% / 8 => 12.5%
     */
    height:12.5%;
    width: 12.5%;
}

.square-black {
    background-color:rgb(98, 62, 62);
}

.square-white {
    background-color:bisque;
}

.board-square{
    height: 100%;
    width: 100%;
}

.piece-container {
    cursor: grab;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece {
    max-width: 70%;
    max-height: 70%;
}